# .env.example

# Banco de Dados
POSTGRES_USER=codice_user
POSTGRES_PASSWORD=codice_secret
POSTGRES_DB=codice_db
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# URLs de Conexão (Para o Go e Python usarem localmente)
DATABASE_URL=postgres://codice_user:codice_secret@localhost:5432/codice_db?sslmode=disable
REDIS_URL=redis://localhost:6379/0

# Autenticação
JWT_SECRET=super_secret_key_change_in_production